{
  "rules": {
    "eqeqeq": 2,
    "strict": 0,
    "curly": 2,
    "quotes": [2, "single"],
    "max-statements": [2, 16],
    "max-depth": [2, 5],
    "complexity": [2, 7],
    "max-len": [2, 65],
    "max-params": [2, 1],
    "max-nested-callbacks": [2, 0]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
