<aside>
	<section>
		<header>
			<h3>Hi, I'm Gillian and I read books</h3>
		</header>
		<p>{{@blog.description}}</p>
		<a href="https://twitter.com/gillythepenguin" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gillythepenguin</a>
		<script>
			! function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0],
					p = /^http:/.test(d.location) ? 'http' : 'https';
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = p + '://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'twitter-wjs');
		</script>
	</section>
	<section>
		<header>
			<h4>My Goodreads</h4>
		</header>
		<div class="goodreads">
			<iframe src="https://www.goodreads.com/widgets/user_update_widget?height=400&num_updates=3&user=3219443"></iframe>
			<div class="goodreads-footer">
				<a href="https://www.goodreads.com/">
					<img alt="Goodreads: Book reviews, recommendations, and discussion" src="https://www.goodreads.com/images/layout/goodreads_logo_140.png" />
				</a>
			</div>
		</div>
	</section>
</aside>
