<aside>
	<section>
		<header>
			<h3>Hi, I'm Gillian and I read books</h3>
		</header>
		<p>These are my opinions lol</p>
	</section>
	<section>
		<header>
			<h4>My Goodreads</h4>
		</header>
		<div class="goodreads">
			<iframe src="https://www.goodreads.com/widgets/user_update_widget?height=400&num_updates=3&user=3219443"></iframe>
			<div class="goodreads-footer">
				<a href="https://www.goodreads.com/">
					<img alt="Goodreads: Book reviews, recommendations, and discussion" src="https://www.goodreads.com/images/layout/goodreads_logo_140.png" />
				</a>
			</div>
		</div>
	</section>
	<section class="double">
		<header>
			<h4>My Instagram</h4>
		</header>
		<div class="ghost-snap">
		</div>
	</section>
</aside>
