.ghost-snap {
		ul {
				@extend .list-unstyled;
				display: inline-block;
		}
		li {
				lost-waffle: 1/2 2 1vr;
				@media (min-width: $screen-md-min) {
						lost-waffle: 1/1 1 1vr;
				}
		}
		img {
				@extend .thumbnail;
				@extend .img-responsive;
				margin: 0;
		}
}
