.ghost-snap {
		ul {
				@extend .list-unstyled;
				lost-masonry-wrap: flex;
		}
		li {
				lost-masonry-column: 1/2;
				@media (min-width: 800px) {
						lost-masonry-column: 1/1;
				}
		}
		img {
				@extend .thumbnail;
				@extend .img-responsive;
		}
}
