@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

$font-family-sans-serif: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: 'EB Garamond', Georgia, "Times New Roman", Times, serif !default;
$font-size-base: 22px !default;
$line-height-base: 1.5 !default;
$primary-green: #438376;
$headings-color: $primary-green;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";

// Components
@import "bootstrap/thumbnails";
@import "bootstrap/responsive-embed";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "ghost-snap";
@import "goodreads";

$block: $line-height-computed / 2;
@lost gutter 60px;

html {
		font-size: 16px;
}
p {
		font-family: $font-family-serif;
}
body {

		// lost-utility: edit;
}
.site-wrapper {
		padding: 15px;
		lost-utility: clearfix;
		lost-center: 980px flex;
}
main {
		lost-column: 1/1;
		@media (min-width: 800px) {
				lost-column: 2/3;
		}
}
aside {
		lost-column: 1/1;
		@media (min-width: 800px) {
				lost-column: 1/3 1;
		}
		@media (min-width: 500px) and (max-width: 800px) {
				section {
						lost-column: 1/2;
				}
				.double {
						lost-column: 2/2;
				}
		}
		header {
				text-transform: lowercase;
		}
}
footer {
    font-size: $font-size-small;
    margin-bottom: $block;
		lost-column: 1/1;
		@media (min-width: 800px) {
				section {
						lost-column: 1/2;
            &.poweredby {
              text-align: right;
            }
				}
		}
}

// pagination
.pagination {
		lost-column: 1/1;
    text-align: center;
}
.extra-pagination {
		lost-column: 1/1;
		display: none;
		.archive-template & {
				display: block;
		}
}
.author-thumb {
		@extend .img-circle;
		height: $line-height-computed;
}
.post-content {
	img {
		@include img-responsive;
	}
}
