@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@typography true;

// Core variables and mixins
@import "variables";
@import "mixins";

// Core CSS
@import "scaffolding";
@import "type";

// Components
@import "thumbnails";
@import "navigation";
@import "author";
@import "responsive-embed";

// Utility classes
@import "utilities";
@import "responsive-utilities";

// Plugins
@import "instafeed";
@import "goodreads";
@import "icons";

// Lost
@lost gutter 60px;
@lost flexbox flex;
@lost rounder 100;

body {
		// lost-utility: edit;
		// background-image: url(http://basehold.it/i/30);
}
.site-wrapper {
		padding: 15px;
		lost-center: 980px;
		lost-flex-container: column;

		@media (min-width: $screen-md-min) {
				lost-flex-container: row;
		}
}
main {
		lost-column: 1/1;
		@media (min-width: $screen-md-min) {
				lost-column: 2/3;
		}
}
article {
		header {
				margin-bottom: 1lh;
		}

		margin-bottom: 2lh;
}
aside {
		lost-column: 1/1;
		lost-flex-container: row;
		header {
				text-transform: lowercase;
		}
		section {
				margin-bottom: 1lh;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				section {
						lost-column: 1/2;
				}
		}
		@media (min-width: $screen-md-min) {
				lost-column: 1/3 3;
				lost-flex-container: column;
		}
}
footer {
		font-size: $font-size-small;
		margin-bottom: #{$scale-down}lh;
}
.site-footer {
		padding: 15px;
		lost-center: 980px;
		section {
				lost-column: 1/2;

				&.poweredby {
						text-align: right;
				}
		}
}
a.title:hover {
		text-decoration: none;
}

// pagination
.pagination {
		lost-column: 1/1;
		text-align: center;
}
.extra-pagination {
		lost-column: 1/1;
		display: none;
		.archive-template & {
				display: block;
		}
}
.author-thumb {
		@extend .img-circle;
		height: 1lh;
}
.post-content {
		img {
				@include img-responsive;
		}
}
