.pagination {
	margin-bottom: 1lh;
}

nav ul {
	font-family: $headings-font-family;
	lost-center: 100%;
  list-style: none;
  justify-content: space-around;

	li {
		flex: 0 0 auto;
		width: 100%;

		a {
			padding: 0 15px;
      display: block;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 120%;
		line-height: 2lh;
		margin-top: -8px;
		padding-left: 0;

		li {
			text-align: center;
			width: calc(99.99% * 1/6);

			a {
				background-color: #FFF;
				transition: background-color 0.3s ease, color 0.3s ease;
				&:hover {
					color: white;
					text-decoration: none;
				}
			}

			&:nth-child(1) a:hover {
				background-color: #408274;
			}
			&:nth-child(2) a:hover {
				background-color: #2e585a;
			}
			&:nth-child(3) a:hover {
				background-color: #193126;
			}
			&:nth-child(4) a:hover {
				background-color: #2e5a3b;
			}
			&:nth-child(5) a:hover {
				background-color: #408274;
			}
			&:nth-child(6) a:hover {
				background-color: #6aad58;
			}
		}
	}
}
