{{! The big featured header }}
<header class="grid-header">
	<a class="title inline-block no-underline text-green hover:text-green-dark hover:no-underline" href="/">
		<h1 class="leading-tight">
			{{@blog.title}}
		</h1>
	</a>
</header>
