.icon-twitter {
	fill: var(--grayLight);
}

.icon-twitter:hover {
	fill: #55acee;
	text-decoration: none;
}

.icon-facebook {
	fill: var(--grayLight);
}

.icon-facebook:hover {
	fill: #3b5998;
	text-decoration: none;
}

.icon-google-plus {
	fill: var(--grayLight);
}

.icon-google-plus:hover {
	fill: #dd4b39;
	text-decoration: none;
}
