@layer components {
	.icon-social {
		@apply text-white outline-none inline-block rounded-lg p-2 origin-center transition transform duration-300 ease-in-out;
	}

	.icon-social:hover {
		@apply scale-95 shadow-lg no-underline text-gray-400;
	}

	.icon-social:focus {
		@apply text-gray-400
	}
}
