.post-footer {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: auto auto;
}

@media (width >= theme(--breakpoint-lg)) {
	.post-footer {
		grid-gap: 1rem;
		grid-template-columns: auto auto auto;
	}
}

.post-footer__figure {
}

.post-footer__author {
}

.post-footer__share {
	grid-column: 1 / span 3;
}
