{{! The big featured header }}
<header class="grid-header">
	<a class="title inline-block no-underline text-emerald-500 hover:text-emerald-700 hover:no-underline" href="/">
		<h1 class="leading-tight">
			{{#if @site.logo}}
				<img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" width="872" height="495" />
			{{else}}
				{{@site.title}}
			{{/if}}
		</h1>
	</a>
</header>
