<nav class="grid-nav text-right mt-20 md:mt-6">
  <ul class="navbar list-reset text-xl md:text-2xl leading-loose md:flex md:justify-between">
    {{#foreach navigation}}
      <li class="mb-0 md:mb-6 md:text-center flex-1 nav-{{slug}}{{#if current}} active{{/if}}" role="presentation">
				<a class="nav-link md:px-4" href="{{url absolute="true"}}">
					{{label}}
				</a>
			</li>
    {{/foreach}}
		{{#if @labs.members}}
	    <li class="mb-0 md:mb-6 md:text-center flex-1">
				<a class="nav-link md:px-4" href="#subscribe">
					Subscribe
				</a>
			</li>
		{{/if}}
  </ul>
</nav>
