
<section class="related-posts">
	{{#get "posts" limit="3" filter="tags:[{{tags[*].slug}}]+id:-{{id}}" include="tags" as |related|}}
	  <h4>
			Related posts
		</h4>
	  <ul>
	    {{#foreach related}}
	    	<li>
					<a href="{{url}}">{{title}}</a>
				</li>
	    {{/foreach}}
	  </ul>
	{{/get}}
</section>
