<div class="relative text-white">
	<h2 class="sr-only">
		Search
	</h2>
	<div class="search-form max-h-full overflow-y-auto rounded-sm my-6 space-y-4">
		<form data-search-form class="max-w-lg text-center mx-auto">
			<label>
				<span class="sr-only">
					Search term
				</span>
				<input
					class="w-full sm:w-auto appearance-none text-xl md:text-3xl rounded-lg transition-colors duration-150 ease-linear py-2 px-4 md:py-3 md:px-5 text-gray-800 placeholder-gray-500 placeholder-opacity-100 focus:outline-none focus:ring"
					placeholder="i am looking for..."
					type="search"
					name="search"
				/>
			</label>
		</form>
		<ul data-search-results class="max-w-lg mx-auto space-y-4 text-left"></ul>
	</div>
</div>
