<div class="subscribe-success-message">
	<a class="subscribe-close" href="javascript:;" aria-label="Close"></a>
	You've successfully subscribed to {{@site.title}}!
</div>

<div id="subscribe" class="subscribe-overlay" aria-modal="true" role="dialog">
	<div class="fixed inset-0 transition-opacity">
		<a class="absolute cursor-default inset-0 bg-gray-900 bg-opacity-95" href="#" aria-label="Close"></a>
	</div>

	<a class="subscribe-close-button" href="#" aria-label="Close"></a>

	{{> "subscribe-form"}}
</div>
