<div class="subscribe-success-message">
	<a class="subscribe-close" href="javascript:;"></a>
	You've successfully subscribed to {{@site.title}}!
</div>

<div id="subscribe" class="subscribe-overlay">
	<div class="fixed inset-0 transition-opacity">
		<a class="absolute cursor-default inset-0 bg-gray-900 bg-opacity-95" href="#"></a>
	</div>

	<a class="subscribe-close-button" href="#"></a>

	{{> "subscribe-form"}}
</div>
