@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./components/icons.css" layer(utilities);
@import "./components/navbar.css" layer(utilities);
@import "./components/content.css" layer(utilities);
@import "./components/instafeed.css" layer(utilities);
@import "./components/pagination.css" layer(utilities);
@import "./components/post.css" layer(utilities);
@import "./components/related-posts.css" layer(utilities);
@import "./components/gallery-card.css" layer(utilities);
@import "./components/bookmark-card.css" layer(utilities);

@theme {
	--color-twitter: #1da1f2;

	--font-sans:
		ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold",
		Calibri, source-sans-pro, sans-serif;

	--background-image-bookshelf: url("../../src/images/bookshelf.png");
	--background-image-instagram: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

@layer utilities {
	.prose {
		a {
			@apply text-emerald-700 no-underline transition-colors hover:text-emerald-500;
		}

		blockquote {
			@apply text-gray-500;
		}

		h1,
		h2,
		h3,
		h4 {
			@apply font-normal;
		}

		strong {
			@apply font-medium;
		}

		hr {
			@apply bg-bookshelf h-20 border-none bg-contain bg-center bg-no-repeat;
		}
	}
}

.body-grid {
	display: grid;
	grid-template:
		"header header header header nav    nav    nav"
		".			.			 tag 	  tag 	 tag 		tag    ."
		".   		body	 body   body   body 	body   ."
		".      . 		 aside  aside  aside  .      ."
		"insta  insta  insta  insta  insta  insta  insta"
		".      footer footer footer footer footer .";
	grid-gap: 1rem;
	grid-template-columns: 0 1rem 1fr 1fr 1fr 1rem 0;
}

@media (width >= theme(--breakpoint-md)) {
	.body-grid {
		grid-template:
			"nav      nav    nav    nav    nav"
			". 			header header .      ."
			".      tag    .      .      ."
			".      body   body   body   ."
			".      aside  aside  aside  ."
			"insta  insta  insta  insta  insta"
			"footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
	}
}

@media (width >= theme(--breakpoint-lg)) {
	.body-grid {
		grid-template:
			".      .      nav    nav    nav    nav"
			"header header header .      aside  ."
			".      body   body   body   tag    ."
			".      body   body   body   .      ."
			"insta  insta  insta  insta  insta  insta"
			"footer footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr minmax(auto, 25ch) 1rem;
	}
}

.grid-header {
	grid-area: header;
}

.grid-nav {
	grid-area: nav;
}

.grid-tag {
	grid-area: tag;
}

.grid-body {
	grid-area: body;
}

.grid-aside {
	grid-area: aside;
}

@media (width >= theme(--breakpoint-sm)) {
	.grid-aside {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}

@media (width >= theme(--breakpoint-md)) {
	.grid-aside {
		display: block;
	}
}

@media (width >= theme(--breakpoint-lg)) {
	.grid-aside {
		grid-row: 2 / span 3;
	}
}

.grid-insta {
	grid-area: insta;
}

.grid-footer {
	grid-area: footer;
}

.extra-pagination {
	display: none;
}

.paged .extra-pagination {
	display: block;
}
