@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/icons";
@import "components/navbar";
@import "components/content";
@import "components/instafeed";
@import "components/pagination";
@import "components/post";
@import "components/related-posts";
@import "components/gallery-card";
@import "components/bookmark-card";

.body-grid {
	display: grid;
	grid-template:
		"header header header header nav    nav    nav"
		".			.			 tag 	  tag 	 tag 		tag    ."
		".   		body	 body   body   body 	body   ."
		".      . 		 aside  aside  aside  .      ."
		"insta  insta  insta  insta  insta  insta  insta"
		".      footer footer footer footer footer .";
	grid-gap: 1rem;
	grid-template-columns: 0 1rem 1fr 1fr 1fr 1rem 0;
}

@screen md {
	.body-grid {
		grid-template:
			"nav      nav    nav    nav    nav"
			". 			header header .      ."
			".      tag    .      .      ."
			".      body   body   body   ."
			".      aside  aside  aside  ."
			"insta  insta  insta  insta  insta"
			"footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
	}
}

@screen lg {
	.body-grid {
		grid-template:
			".      .      nav    nav    nav    nav"
			"header header header .      aside  ."
			".      body   body   body   tag    ."
			".      body   body   body   .      ."
			"insta  insta  insta  insta  insta  insta"
			"footer footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr minmax(auto, 25ch) 1rem;
	}
}

.grid-header {
	grid-area: header;
}

.grid-nav {
	grid-area: nav;
}

.grid-tag {
	grid-area: tag;
}

.grid-body {
	grid-area: body;
}

.grid-aside {
	grid-area: aside;
}

@screen sm {
	.grid-aside {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}

@screen md {
	.grid-aside {
		display: block;
	}
}

@screen lg {
	.grid-aside {
		grid-row: 2 / span 3;
	}
}

.grid-insta {
	grid-area: insta;
}

.grid-footer {
	grid-area: footer;
}

.extra-pagination {
	display: none;
}

.paged .extra-pagination {
	display: block;
}
