@import "tailwindcss/preflight";
@import "tailwindcss/components";

@import "components/typography";
@import "components/goodreads";
@import "components/navbar";
@import "components/icons";
@import "components/instafeed";
@import "components/pagination";
@import "components/post";

@import "tailwindcss/utilities";

.body-grid {
	display: grid;
	grid-template:
		"header header header"
		"nav 		nav 	 nav"
		".			tag 	 ."
		". 			body   ."
		".      aside  ."
		"insta  insta  insta"
		".      footer .";
	grid-gap: 1rem;
	grid-template-columns: auto;
}

@media (min-width: 768px) {
	.body-grid {
		grid-template:
			"header header header header"
			"nav    nav    nav    nav"
			".			tag    tag    ."
			".      body   aside  ."
			"insta  insta  insta  insta"
			"footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: minmax(1rem, auto) minmax(auto, 50ch) minmax(auto, 25ch) minmax(1rem, auto);
	}
}

.grid-header {
	grid-area: header;
}

.grid-nav {
	grid-area: nav;
}

.grid-tag {
	grid-area: tag;
}

.grid-body {
	grid-area: body;
}

.grid-aside {
	grid-area: aside;
}

@media (min-width: 576px) {
	.grid-aside {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.grid-aside {
		display: block;
	}
}

.grid-insta {
	grid-area: insta;
}

.grid-footer {
	grid-area: footer;
}

.instafeed {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
	.instafeed {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 992px) {
	.instafeed {
		grid-template-columns: repeat(8, 1fr);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 0;
}

.extra-pagination {
	display: none;
}

.paged .extra-pagination {
	display: block;
}
