@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/typography";
@import "components/icons";
@import "components/header";
@import "components/navbar";
@import "components/content";
@import "components/instafeed";
@import "components/pagination";
@import "components/post";
@import "components/related-posts";
@import "components/gallery-card";
@import "components/bookmark-card";
@import "components/subscribe-form";
@import "components/subscribe-overlay";

.body-grid {
	display: grid;
	grid-template:
		"header header header header nav    nav    nav"
		".      .      .      .      nav    nav    nav"
		".			.			 tag 	  tag 	 tag 		tag    ."
		".   		body	 body   body   body 	body   ."
		".      . 		 aside  aside  aside  .      ."
		"insta  insta  insta  insta  insta  insta  insta"
		".      footer footer footer footer footer .";
	grid-gap: 1rem;
	grid-template-columns: 0 1rem 1fr 1fr 1fr 1rem 0;
}

@screen md {
	.body-grid {
		grid-template:
			".      nav    nav    nav    nav"
			"header .      .      .      ."
			".      body   body   body   tag"
			".      aside  aside  aside  ."
			"insta  insta  insta  insta  insta"
			"footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
	}
}

@screen lg {
	.body-grid {
		grid-template:
			".      nav    nav    nav    nav    nav"
			"header .      .      .      aside  ."
			".      body   body   body   tag    ."
			".      body   body   body   .      ."
			"insta  insta  insta  insta  insta  insta"
			"footer footer footer footer footer footer";
		grid-gap: 2rem;
		grid-template-columns: 1rem 1fr 1fr 1fr minmax(auto, 25ch) 1rem;
	}
}

.grid-header {
	grid-area: header;
	grid-column: 1 / span 5;
}

@screen md {
	.grid-header {
		grid-column: 1 / span 3;
	}
}

.grid-nav {
	grid-area: nav;
  grid-column: 4 / span 4;
}

@screen md {
	.grid-nav {
	  grid-column: 2 / span 4;
	}
}

@screen lg {
	.grid-nav {
	  grid-column: 3 / span 4;
	}
}

.grid-tag {
	grid-area: tag;
}

.grid-body {
	grid-area: body;
}

@screen md {
	.grid-body {
	  grid-column: 2 / span 3;
	}
}

.grid-aside {
	grid-area: aside;
}

@screen sm {
	.grid-aside {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}
}

@screen md {
	.grid-aside {
		display: block;
	}
}

@screen lg {
	.grid-aside {
		grid-row: 2 / span 3;
	}
}

.grid-insta {
	grid-area: insta;
}

.grid-footer {
	grid-area: footer;
}

.instafeed {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@screen md {
	.instafeed {
		grid-template-columns: repeat(4, 1fr);
	}
}

@screen lg {
	.instafeed {
		grid-template-columns: repeat(8, 1fr);
	}
}

.bg-instagram {
	background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.extra-pagination {
	display: none;
}

.paged .extra-pagination {
	display: block;
}
